<div class="panel panel-default">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel-heading" style="background-color: rgba(204, 203, 203, 0.945);">
        <div class="clearfix">
          <div class="pull-left">
            <h1 class="list-group-item-heading">{{ contact?.name}}</h1>
            <img src="{{contact?.imageUrl}}" alt="image" class="img-responsive">
          </div>
          <div class="pull-right">
            <a [routerLink]="['edit']" class="btn btn-primary" type="submit" style="margin: 5px;">Edit</a>
            <a class="btn btn-danger" type="button" (click)="onDelete()">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel-body">
        <h5>Email: {{contact?.email}}</h5>
        <h5>Phone: {{contact?.phone}}</h5>
      </div>
    </div>
  </div>
<div *ngFor="let contact of contact?.group">
  <div class="row" >
    <div class="col-xs-12">
      <div class="panel-footer">
        <h5>Contact in group: {{contact?.name}}</h5>
      </div>
    </div>
    </div>
</div>
</div>
